body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Quicksand', 'Helvetica', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #52999f;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Quicksand', 'Helvetica', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Quicksand', 'Helvetica', 'Sans-Serif';
    color: #2d6e8e;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family:'Quicksand', 'Helvetica', 'Sans-Serif';
}
footer {
    border-top: 1px solid #7cc683;
    font-size: .8em;
    color: #52999f;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family:'Quicksand', 'Helvetica', 'Sans-Serif';
    color: #7cc683;
}

ul.posts li {
    list-style: none;
    font-family:'Quicksand', 'Helvetica', 'Sans-Serif';
    color: #7cc683;
}
